.each_class:hover {
  opacity: 0.7;
}
li::before {
  /* add the new bullet point */
  display: inline-block;
  content: "";
  -webkit-border-radius: 0.375rem;
  border-radius: 0.375rem;
  height: 0.75rem;
  width: 0.75rem;
  margin-right: 0.5rem;
  background-color: #cff4fc;
}
