<div class="headerHome bg-dark" style="color: white;">
  <br>
  <h1 class="text-center">Home page</h1>
  <h6 class="text-center"><i>Welcome {{userName}} !!!</i></h6>
  <br>
  </div>
  <!-- <div *ngFor="let c of classes">
  <p (click)="navigateToFirst(c.id)">{{c.name}}</p>
  </div> -->
  <div class="container-fluid bg-dark" style="height: 100%;">
    <div class="card" style="min-height: 70%;">
      <div class="card-header">
        <h4 class="m-0 text-center fw-bold"><button class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#infoModal" style="float: left; color:white"><i class="bi bi-info-circle "></i></button> <span style="margin-right: 3rem;">CLASSES</span></h4>
      </div>
  
      <div class="card-body">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="card col-12 col-lg-6 p-0" id="cardAddRatiosList" >
              <div class="card-header list-group-item-success p-0" id="rowForCollapsingAddClass" data-toggle="collapse" (click)="collapsingAddClass()" style="cursor: pointer;" href="#addClassFormCardBody">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-6" style="justify-content: left !important;align-items: center; display: flex;">
                      <h5 class="m-0">Add Class</h5>
                    </div>
                    <div class="col-6">
                      <button class="btn btn-tool" id="btnForCollapsingAddClass" style=" padding:0px !important; float:right; font-size: 30px;" type="button"><i class="bi bi-dash"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body  collapse" id="addClassFormCardBody">
                  <div class="form-group">
                    <label for="name" class="required">Class name</label>
                    <input type="text" class="form-control" [(ngModel)]="nameClass"  name="nameClass"
                      placeholder="Enter the name of class" required>
                  </div>
                  <br>
                  <div class="text-center">
                    <button class="btn btn-success" (click)="addClass()" type="button" id="createClass">Create</button>
                  </div>
              </div>
  
            </div>
  
            <div class="col-12"></div>
            <br>
            <div class="col-12 col-md-4 p-2" *ngFor="let c of classes">
              <div class="card">
                <div class="card-header list-group-item-info fw-bold each_class"  (click)="navigateToFirst(c.classId)" style="cursor: pointer;">{{c.name}}</div>
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Number of students: {{c.numberOfStudents}}</li>
                    <li class="list-group-item">Name of class: <b>{{c.name}}</b> </li>
                    <li class="list-group-item">Delete class: <button class="btn btn-warning" (click)="deleteClass(c.classId)">Delete</button> </li>
                    <!-- <li class="list-group-item">Edit class name: <button class="btn btn-secondary" (click)="editClass(c.classId)">Edit</button> </li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-danger" (click)="logOut()" type="button" id="logaOut">Log out</button>
  
  <!-- Modal START -->
  <div class="modal fade bd-example-modal-lg" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header list-group-item-info">
          <h5 class="modal-title" id="staticBackdropLabel">About us <i class="bi bi-info-circle "></i></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">Messages</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
            </li>
          </ul>
          
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade active" id="home" role="tabpanel" aria-labelledby="home-tab">DODADI TEKST sliki se staticki html treba 1</div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">DODADI TEKST sliki se staticki html treba 23</div>
            <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">DODADI TEKST sliki se staticki html treba 55</div>
            <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">DODADI TEKST sliki se staticki html treba 67</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateStudent()">Update</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal END -->
  
  
  
  
  
  