<br>
<div class="center-XY">
  <div *ngIf="working">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
    <button *ngIf="!working" class="btn btn-lg btn-primary" (click)="pickStudent()" style="float: left;">{{pickedStudentName ? pickedStudentName : 'PICK STUDENT'}}</button>
    <div *ngIf="showButtons && !working">
      <button class="btn btn-success p-0" (click)="positiveResponse()" id="success_btn"><i class="bi bi-plus" style="font-size: 2rem;"></i></button>
      <button class="btn btn-danger p-0" (click)="negativeResponse()"  id="danger_btn"><i class="bi bi-dash" style="font-size: 2rem;"></i></button>
    </div>
</div>

