<div class="vertical-align-center" style="height: 40rem;" id="login-form">

  <form action="/login" method="post" class="form-logIn"  (ngSubmit)="loginSubmit(userLogin)" style="margin: 0 auto;">
    <h4 class="text-center">Log in</h4>
    <div class="form-group">
      <label for="exampleInputUsername">Username:</label>
      <input type="text" class="form-control" id="usernameField" aria-describedby="usernameHelp" [(ngModel)]="userName"  name="userName" placeholder="Enter username" required>

    </div>
    <div class="form-group mb-0">
      <label for="exampleInputPassword1">Password:</label>
      <input type="password" class="form-control" [(ngModel)]="userPassword" id="passwordField" placeholder="Password" name="userPassword">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <hr>
    <div class="text-center">
      <a href="/create-account/sign-up" style="text-decoration: none !important;">Register</a>
    </div>
  </form>
</div>
